 files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/collectstatic ]      # 파일이 있으면 이하를 실행.
        then
          sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py collectstatic --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]      # 파일이 있으면 이하를 실행.
      then
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py migrate --noinput  # 그냥 마이그레이트 할지 옵션 선택 안해도됨
      fi


  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]      # 파일이 있으면 이하를 실행.
      then
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py createsu
      fi

